#c++ gnu autotools
*.o
*/*.o
*/*/*.o
*/*.Po
*/*/*.Po
*/*/*/*.Po
.deps*/*
*/.deps*/*
*/*/.deps*/*
*/*/*/.deps*/*
.dirstamp
*/.dirstamp
*/*/.dirstamp
*/*/*/.dirstamp
*/*/*/*/.dirstamp
autoscan.*
aclocal.m4
autom4te.cache
compile
config.log
config.status
config.sub
configure
configure.scan
depcomp
missing
install-sh
ltmain.sh
libtool
stamp-h1
Makefile
/build/
/.cproject
/.project
/Makefile.in
/config.guess
